*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: black;
}
.heading{
    color: aliceblue;
    text-align: center;
    font-size: 25px;
}
.heading>p{
    padding-top: 0px;
}
main{
    background-color: rgba(228, 115, 115, 0.356);
    padding: 20px 0px;
    margin:0 25% 0 25%;
    border-radius: 10px;
}
main>form>label{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    margin-top: 50px;
    margin-left: 30px;
    font-weight: bold;
}
main>form>input,select{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    font-weight: lighter;
    margin:20px 30px;
    border-radius: 10px;
    width:36em;
    height: 2em;
}
.radio{
    color: white;
    display: block;
    padding-top: 5px;
    margin-left: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    font-weight: bold;
}
.input-checkbox{
    display: inline-block;
    margin-top: 10px;
    margin-right: 5px;
    min-height: 1.625rem;
    min-width: 1.625rem;
}

textarea{
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 30px;
    width: 36em;
    font-size: 25px;
}
#submit{
    color: white;
    background-color: rgb(3, 82, 45);
}
  
